<a href="" ng-click="todo_path()">Unfulfilled Tasks</a>
<a href="" ng-click="complete_path()">Completed Tasks</a>
<form class="add-todo">
  <input type="text" ng-model="data.task" placeholder="Enter Request"><br>
  Select Date: <input type="date" ng-model="data.date"><br>
  <input type="submit" ng-click="addRequest()">
</form>
<p>{{data}}</p>
<div ng-repeat="t in todos">
  <p>
    {{t.task}} <input type="button" value="Delete" ng-click="deleteRequest(t.id)"><br>
    {{t.date}} <br><input type="input" placeholder="New task" ng-model="data.newTask">
               <input type="button" value="Edit" ng-click="edit_path(t.id)">
               <input type="button" value="Task Complete!" ng-click="completeTask(t.id)">
  </p>
</div>
